transformers
accelerate
langchain
langchain-community 
langchain-core
torch
llama-index-vector-stores-milvus
llama-index
unstructured
install sentence-transformers
langchain_milvus
langchain_huggingface
huggingface_hub
accelerate
blobfile
sentencepiece
